html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

header {
    display: flex;
    font-size: 5rem;
}